{deps, [
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy", "master"}},
  {jsone, ".*", {git, "https://github.com/sile/jsone.git", "master"}},
  {base_util, ".*", {git, "https://github.com/Fabsolute/Erlang-Base-Util", "master"}}
]}.
{erl_opts, [
  debug_info,
  warn_export_vars,
  warn_shadow_vars,
  warn_obsolete_guard,
  warn_missing_spec,
  warn_untyped_record
]}.
{relx, [{release, { local, "0.1.0" },
  [chathub]},

  {dev_mode, true},
  {extended_start_script, true}]
}.
